*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html , body{
    height: 100%;
    width: 100%;
}

#main{
    width: 100%;
    background-color: rgb(225, 225, 225);
}


a {
    color: #000;
    text-decoration: none;
}

#navbar{
    width: 100%;
    height: 15vh;
    padding: 0 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar #nav-logo-elems {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 3rem;
}

#nav-logo-elems img {
    height: 60%;
}

#nav-logo-elems #elem-div {
    display: flex;
    gap: 1.5rem;
}

#elem-div a {
    font-size: 1.2rem;
}

#navbar #nav-book-call {
    display: flex;
    align-items: center;
    gap: 0.1rem;
}

#nav-book-call a {
    text-decoration: underline;
    font-size: 1.2rem;
}

#hero {
    width: 100%;
    height: 85vh;
    display: flex;
}

#hero #hero-1 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;
    padding-left: 10rem;
}

#hero-1 #hero-1-sub h1 {
    font-size: 15rem;
    font-weight: 600;
    line-height: 0.95;
}

#hero-1-sub p {
    font-size: 1.7rem;
    padding-left: 1.2rem;
}

#hero-1 #scroll-para {
    font-size: 1.2rem;
}

#hero #hero-2 {
    width: 50%;
    height: 100%;
    overflow: hidden;
}



#hero-2 img {
    height: 100%;
}